<html>
<head>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="css/styles.css" media="screen">
    <title>{{ cuisine.getType }}</title>
</head>
<body>
    <h1>{{ cuisine.getType }}</h1>

    {% if restaurants is not empty %}
        <p>Here are all your restaurants:</p>
        <ul>
            {% for restaurant in restaurants %}
                <li><a href="/restaurant/{{ restaurant.getId }}">{{ restaurant.getName }}</a>

                    <br><a href="/restaurant/{{ cuisine.getId }}/{{ restaurant.getId }}/edit_form">Edit</a>
                    <form action="/restaurants/{{ cuisine.getId }}/{{ restaurant.getId }}/delete" method="post">
                        <input name="_method" type="hidden" value="delete">
                        <button type="submit">Delete this restaurant</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
      <p>There are no restaurants yet, add some!</p>
    {% endif %}

    <h4>Add a restaurant</h4>

    <form action='/restaurants' method='post'>
        <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getId() }}">
        <label for='name'>Name</label>
        <input id='name' name='name' type='text'>

        <label for="address">Address</label>
        <input type="text" name="address">

        <label for="description">Description</label>
        <input type="text" name="description">

        <button type='submit'>Add Restaurant</button>
    </form>

    {% if form %}
        <form action="/restaurants/updated" method="post">
            <input name="_method" type="hidden" value="patch">
            <input name="current_restaurantId" type="hidden" value="{{ current_restaurant.getId() }}">
            <input name="cuisine_id" type="hidden" value="{{ cuisine.getId() }}">
            <input type="text" name="name">
            <button type="submit" name="button">Edit Name</button>
        </form>
    {% endif %}

    <p><a href='/'>Home</a></p>
</body>
</html>
