<html>
<head>
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href='https://fonts.googleapis.com/css?family=Laila' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <title>{{ restaurant.getName }}</title>
</head>
<body>
  <div class="jumbotron">
    <h1>Best Restaurants in Town!</h1>
  </div>
    <div class="container">
    <h1>{{ restaurant.getName }}</h1>

    {% if reviews is not empty %}
        <p>Here are all your reviews:</p>
        <ol>
            {% for review in reviews %}
                <li class="output-title">
                <p class="output-title"> Name: <span class="review_titles output-detail">{{ review.getName }}</span></p>
                <p class="output-title"> Rating: <span class="review_titles output-detail">{{ review.getRating }}</span></p>
                <p class="output-title"> Comments: <span class="review_titles output-detail">{{ review.getComments }}</span></p>
                </li>
                <form action="/reviews/{{ restaurant.getId }}/{{ review.getId }}" method="post">
                    <input name="_method" type="hidden" value="delete">
                    <button type="submit">Delete</button>
                </form>
            {% endfor %}
        </ol>
    {% else %}
      <p>There are no reviews yet, add some!</p>
    {% endif %}

    <h4>Add a review</h4>

    <form action='/reviews' method='post'>
        <input id="restaurant_id" name="restaurant_id" type="hidden" value="{{ restaurant.getId() }}">
        <label for='name'>Name</label>
        <input id='name' name='name' type='text' required>

        <label for="rating">Rating <small>out of five</small></label>
        <input type="number" name="rating" required>

        <label for="comments">Comments</label>
        <input type="text" name="comments" required>

        <button type='submit'>Add Review</button>
    </form>

    {% if form %}
        <form action="/reviews/updated" method="post">
            <input name="_method" type="hidden" value="patch">
            <input name="current_reviewId" type="hidden" value="{{ current_review.getId() }}">
            <input name="restaurant_id" type="hidden" value="{{ restaurant.getId() }}">
            <input type="text" name="name">
            <button type="submit" name="button">Edit Name</button>
        </form>
    {% endif %}


    <p><a href='/'>Home</a></p>
  </div>
</body>
</html>
