<html>
<head>
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href='https://fonts.googleapis.com/css?family=Laila' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <title>{{ restaurant.getName }}</title>
</head>
<body>
  <div class="jumbotron">
    <h1>Best Restaurants in Town!</h1>
  </div>
    <h1>{{ restaurant.getName }}</h1>

    {% if reviews is not empty %}
        <p>Here are all your reviews:</p>
        <ol>
            {% for review in reviews %}
                <li>
                <p>Name: {{ review.getName }}<a href="/review/{{ restaurant.getId }}/{{ review.getId }}/edit_form">edit name</a>
                    <form action="/reviews/{{ restaurant.getId }}/{{ review.getId }}" method="post">
                        <input name="_method" type="hidden" value="delete">
                        <button type="submit">Delete this category</button>
                    </form>
                </p>
                <p>Rating: {{ review.getRating }}</p>
                <p>Comments: {{ review.getComments }}</p>
                </li>
            {% endfor %}
        </ol>
    {% else %}
      <p>There are no reviews yet, add some!</p>
    {% endif %}

    <h4>Add a review</h4>

    <form action='/reviews' method='post'>
        <input id="restaurant_id" name="restaurant_id" type="hidden" value="{{ restaurant.getId() }}">
        <label for='name'>Name</label>
        <input id='name' name='name' type='text'>

        <label for="rating">Rating</label>
        <input type="text" name="rating">

        <label for="comments">Comments</label>
        <input type="text" name="comments">

        <button type='submit'>Add Review</button>
    </form>

    {% if form %}
        <form action="/reviews/updated" method="post">
            <input name="_method" type="hidden" value="patch">
            <input name="current_reviewId" type="hidden" value="{{ current_review.getId() }}">
            <input name="restaurant_id" type="hidden" value="{{ restaurant.getId() }}">
            <input type="text" name="name">
            <button type="submit" name="button">Edit Name</button>
        </form>
    {% endif %}


    <p><a href='/'>Home</a></p>
</body>
</html>
